<h1>Please enter your information to log in</h1>


<form asp-controller="Account" asp-action="Login" method="post" id="editForm">
    @Html.AntiForgeryToken()

    <input type="text" placeholder="email" name="Email">
    <input type="text" placeholder="password" name="Password">

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
