@* @using HorsesForCourses.Service;

@using (Html.BeginForm("Lookup", "Coach", FormMethod.Post))
{
    <label for="id">Enter Coach ID:</label>
    @Html.TextBox("id")
    <input type="submit" value="Find" />
} *@